<div class="container" style="background-color: #fff">
  <div class="row py-5 px-3">
    <div id="carouselExampleIndicators" class="carousel slide col-lg-4">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ data.img1 }}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{ data.img2 }}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{ data.img3 }}" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="pre-btn carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="nex-btn carousel-control-next-icon" aria-hidden="true"></span>
        <span class=" visually-hidden">Next</span>
      </button>
    </div>
    <div class="book-content col-lg-6 mx-auto">
      <h1>{{ data.title }}</h1>
      <p style="color: green; margin-top: 0">Special price</p>
      <h1 class="fw-bold">₹{{ data.rate }}</h1>
      <p>Available offer</p>
      <ul>
        <li>
          Bank Offer10% off on Axis Bank Credit Card EMI Transactions, up to
          ₹1,500 on orders of ₹5,000 and aboveT&C
        </li>
        <li>
          Bank Offer10% off on Flipkart Axis Bank Credit Card EMI Transactions,
          up to ₹1500 on orders of ₹5000 and aboveT&C
        </li>
        <li>
          Bank Offer10% off on Citi Credit Card EMI Transactions, up to ₹1,500
          on orders of ₹5,000 and aboveT&C
        </li>
        <li>
          Special PriceGet extra 29% off (price inclusive of cashback/coupon)T&C
        </li>
      </ul>
      <button class="btn btn-success" (click)="add()">Add to Cart</button>
      <div *ngIf="success" class="alert alert-secondary" role="alert">
        Successfully added
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item my-5">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              About Book
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show my-2"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p><strong>Author :</strong> {{ data.author }}</p>
              <p><strong>Pages :</strong> {{ data.Pages }}</p>
              <p><strong>Language :</strong> {{ data.Language }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <div class="example-form w-100">
          <mat-form-field class="example-full-width w-100 position-relative">
            <input matInput placeholder="Leave your review " class="w-50" >
            <button (click)="submit()" class="send-btn"><mat-icon  (onClick)="submit()" >send</mat-icon></button>
          </mat-form-field>
          </div>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let comment of data.comments" class="list-group-item d-flex justify-content-between align-items-start">
          <div *ngIf="comment.name != ''  " class="d-flex align-items-center">
            <div class="avatar">{{comment.name[0].toUpperCase()}}</div>
            <div  class="ms-2 me-auto">
              <div class="fw-bold">{{comment.name}}</div>
              {{comment.comment}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
