.nav{
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.search-box{
    height: 100%;

}

.search-box input{
background-color: aliceblue;
border: 0cap;
box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
padding: 10px;
font-size: 17px;

}

a{
    cursor: pointer;
}