.cont{
    width: 19rem;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.cont:hover{
    box-shadow: 0pc 0px 5px 0px rgba(0,0,0,0.2);
}
.cont:hover h2{
    color: blue;
}

@media (max-width:700px)  {
    .cont{
        width: 100%;
    }
}